<!DOCTYPE html>
<html>
  <head>
    <title>Minha ONG - Quem somos</title>
  </head>
  <body>
    <h1>Quem somos</h1>
    <p>Somos estudantes do curso de Tecnologia da Informação da Universidade</p>
    <p>Virtual do Estado de São Paulo (UNIVESP), e esse é nosso trabalho do Projeto</p>
    <p>Integrador I que tem como objetivo  desenvolver um software com framework</p>
    <p>web que utilize noções de banco de dados, praticando controle de versão.</p>
    <p>Nesse site estamos utilizando a linguagem Python, framework Flask, linguagem</p>
    <p> de marcação HTML, com controle de versão através do Git e com repositório </p>
    <p> público no Github.</p>
    <a href="/">Voltar para a página principal</a>
  </body>
</html>
