<!DOCTYPE html>
<html>
  <head>
    <title>Quero doar - Meu Site de Doações</title>
  </head>
  <body>
    <h1>Quero doar</h1>
    <form action="/doar" method="post">
      <label for="roupa_infantil">Roupas e calçados infantil:</label>
      <input type="checkbox" name="roupa_infantil" id="roupa_infantil"><br>

      <label for="roupa_adulto">Roupas e calçados adulto:</label>
      <input type="checkbox" name="roupa_adulto" id="roupa_adulto"><br>

      <label for="alimentos">Alimentos:</label>
      <input type="checkbox" name="alimentos" id="alimentos"><br>

      <label for="moveis">Móveis usados:</label>
      <input type="checkbox" name="moveis" id="moveis"><br>

      <label for="medicamentos">Medicamentos:</label>
      <input type="checkbox" name="medicamentos" id="medicamentos"><br>

      <label for="produtos_gerais">Produtos em geral:</label>
      <input type="checkbox" name="produtos_gerais" id="produtos_gerais"><br>

      <input type="submit" value="Enviar">
    </form>
  <a href="/">Voltar para a página principal</a>
  </body>
</html>

